@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

p {
    font-style: italic;
  }

 h0 {

position: absolute;
width: 328px;
height: 56px;
left: 156px;
top: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;

opacity: 0.7;
 } 

h1 {
    /* What do you want to generate your tapestry from? */


position: absolute;
width: 1244px;
height: 56px;
left: 121px;
top: 255px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

/* Tapestry Blue */

color: #1DADE1;

opacity: 0.7;
}

.rectanglecontainer0 {
    position: relative;
  }

.rectangle0 
{
position: absolute;
left: 216px;
top: 447px;
background-color:#66a7be;
height:249px;
width:249px;
border-radius:20px;
}

.rectangle1
{
    position: absolute;
    width: 249px;
    height: 249px;
    left: 595px;
    top: 447px;
    
    /* Tapestry Blue Shades/TB 70 */
    
    background: #66A7BE;
    border-radius: 20px;
}

.rectangle2
{
    position: absolute;
    width: 249px;
    height: 249px;
    left: 974px;
    top: 447px;
    
    /* Tapestry Blue Shades/TB 70 */
    
    background: #66A7BE;
    border-radius: 20px;
}

.border 
{
    position: absolute;
    width: 709px;
    height: 300px;
    left: 187px;
    top: 421px;

    /* Tapestry Blue Shades/TB 50 */

    border: 6px dashed #99C4D3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container f,
.container g,
.container h { 
position: absolute;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
}

.container f {
left: 217px;
top: 603px;
width: 252px;
}

.container g {
left: 623px;
top: 603px;
width: 194px;
}

.container h{
width:197px;
height:29px;
left: 1007px;
top:603px;
}

p1 {
position: absolute;
width: 1011px;
height: 48px;
left: 40px;
top: 355px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #006C92;
}

p2 {
    
    position: absolute;
    width: 1011px;
    height: 24px;
    left: 40px;
    top: 379px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #006C92;
    }

.back-button {

    position: absolute;
    width: 186px;
    height: 55px;
    left: 501px;
    top: 835px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;

    /* Tapestry Blue Shades/TB 50 */

    background: #99C4D3;
    border-radius: 10px;
}

.back-button:hover {
    background-color: #66A7BE;
  }

 .next-button {
    position: absolute;
    width: 186px;
    height: 55px;
    left: 720px;
    top: 835px;
    background: #99C4D3;
    border-radius: 10px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
 } 

 .next-button:hover {
    background-color: #66A7BE;
  }
  /* 
  .svg-container {
    position: absolute;
    width: 76px;
    height: 81.31px;
    left: 50px;
    top: 46px;
  } */

  .image-svg-logo {
    position: absolute;
    width: 76px;
    height: 81.31px;
    left: 50px;
    top: 46px;
    outline: none; /* Remove the outline */
  }

  .image-svg-question {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1208px;
    top: 77px;
    outline: none; /* Remove the outline */
  }
  
  .image-svg-person {
    width: 100px; /* Adjust the width and height as needed */
    height: 100px;
    position: absolute;
    left: 1287px;
    top: 76px;
    outline: none; /* Remove the outline */
  }

  .image-svg-vector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
